:root.theme-dark {
  --theme-path: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --back-color: #000028;
  --focus-color: #DB00FF;
  --section-title-color: #000028;
  --section-subtitle-color: #000028;
  --article-text-color: #f1b2ce;
}