:root.theme-light {
  --theme-path: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --back-color: #fff1f7;
  --focus-color: #ffc2e6;
  --section-title-color: #353430;
  --theme-switch-color: #353430;
  --section-subtitle-color: #353430;
  --header-text-color: #353430;
  --article-text-color: #353430;
  --decorated-color: #353430;
  --hover-color: rgba(53, 52, 48, 0.4);
}

html.theme-light .rec-element {
  display: none;
}

html.theme-light .rec-element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-path: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --back-color: #fff1f7;
    --focus-color: #ffc2e6;
    --section-title-color: #353430;
    --theme-switch-color: #353430;
    --section-subtitle-color: #353430;
    --header-text-color: #353430;
    --article-text-color: #353430;
    --decorated-color: #353430;
    --hover-color: rgba(53, 52, 48, 0.4);
  }

  .rec-element {
    display: none;
  }

  .rec-element::after {
    display: none;
  }
}
