.page {
  background-image: var(--theme-path);
  background-color: var(--back-color);
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 668px;
  height: 100vh;
}

.header__theme-menu {
  justify-self: end;
  margin-top: 75px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--main-font);
  font-size: 18px;
  padding: 0 13px;
  padding-bottom: 4px;
  height: 26px;
  line-height: 18px;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 141, 203, 0.4);
}

.header__theme-menu-button:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
  border: 0;
  outline: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  height: 192px;
  max-width: 100%;
  align-self: center;
  justify-self: start;
  margin: 0 10px;
}

.header__text {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
  background-color: var(--accent-color);
  height: 117px;
  align-self: start;
  justify-self: end;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
}


.rec-element {
  font-family: var(--main-font);
  position: absolute;
  z-index: 1;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  top: 0;
  right: 0;
  margin-top: 10px;
}

.rec-element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 10px;
  margin-right: 19px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated_zone {
  max-width: 100%;
  position: relative;
}

.decorated_zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  background-color: transparent;
  z-index: 1;
}

.decorated_zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  background-color: transparent;
  z-index: 1;
  margin-bottom: 10px;
  margin-left: 10px;
}


.main_section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
  max-width: 100%;
}

.title-decor {
  background-color: var(--back-color);
}

.h2_title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.h3_title {
  margin-block-end: 10px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--section-title-color);
}

.h4_title {
  margin-block-end: 10px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--section-title-color);
}

.section_why-so-hard-to-conc {
  max-width: 100%;
  margin-block-end: 50px;
}

.title_why-so-hard-to-conc {
  margin-block-start: 40px;
  margin-block-end: 20px;
}

.section_what-reduces-conc {
  max-width: 100%;
  margin-block-end: 50px;
}

.title_what-reduces-conc {
  margin-block-end: 20px;
}

.title_how-to-conc {
  margin-block-end: 20px;
}

.title_5_advises {
  margin-block-end: 20px;
}
.subtitle_how-to-conc {
  margin-block-end: 10px;
}

.article_link {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.article_link:hover {
  border-bottom: 1px solid var(--article-text-color);
}

.article_link:focus {
  outline: 1px solid var(--article-text-color);
}

.content_article {
  max-width: 100%;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--article-text-color);
  text-align: left;
  margin-block-end: 20px;
}

.content_article:last-child {
  margin-block-end: 0px;
}

.section_gallery {
  max-width: 100%;
  padding: 50px 10px 40px 10px;
}

.title_gallery {
  margin-block-end: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  min-height: 668px;
  padding: 0px 13px 0 14px;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
}

@media (min-width: 668px) {
  .rec-element {
    margin-top: 20px;
  }
  .rec-element::after {
    margin-left: 10px;
    margin-right: 29px;
  }

  .decorated_zone::before {
    margin-top: 20px;
    margin-right: 20px;
  }

  .decorated_zone::after {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .header__theme-menu {
    margin-top: 192px;
  }

  .header__text {
    width: 364px;
    height: 117px;
    margin-right: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .h2_title {
    margin: 0;
  }

  .h3_title {
    margin: 0;
  }

  .h4_title {
    margin: 0;
  }

  .main_section {
    padding: 60px 20px 0 20px;
    gap: 80px;
  }

  .main_title_1 {
    grid-column: 1;
  }

  .section_why-so-hard-to-conc {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
  }

  .title_why-so-hard-to-conc {
    margin-right: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .subtitle_why-so-hard-to-conc {
    margin-block-end: 10px;
    grid-column: 2 / 3;
  }

  .section_what-reduces-conc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }

  .content_article_why-so-hard-to-conc {
    grid-column: 2 / 4;
  }

  .title_what-reduces-conc {
    grid-column: 1;
    grid-row: 1;
    margin-block-end: 20px;
  }

  .subtitle_what-reduces-conc {
    margin-block-end: 10px;
  }

  .title_multitasking {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .article_multitasking {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .title_food {
    grid-column: 1 / 4;
    grid-row: 4;
  }

  .article_food {
    grid-column: 1 / 4;
    grid-row: 5;
  }

  .title_gadgets {
    grid-column: 1 / 4;
    grid-row: 6;
  }

  .article_gadgets {
    grid-column: 1 / 4;
    grid-row: 7;
  }

  .section_how-to-conc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }

  .title_how-to-conc {
    margin-right: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .title_5_advises {
    margin-block-end: 20px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .subtitle_how-to-conc {
    margin-block-end: 10px;
    grid-column: 2 / 4;
  }

  .content_how-to-conc {
    margin-block-end: 20px;
    grid-column: 2 / 4;
  }

  .section_gallery {
    padding: 60px 20px 60px 20px;
  }
  .title_gallery {
    margin-block-end: 20px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }

  .g_item_1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .g_item_2 {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .g_item_3 {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .g_item_4 {
    grid-column: 2;
    grid-row: 2;
  }

  .g_item_5 {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
  }

  .header__theme-menu {
    margin-top: 20px;
    justify-self: center;
  }

  .header__text {
    width: 491px;
    height: 71px;
    margin-right: 20px;
  }

  .h2_title {
    margin: 0;
  }

  .h3_title {
    margin: 0;
  }

  .h4_title {
    margin: 0;
  }

  .main_section {
    padding-block-start: 60px;
    gap: 80px;
  }

  .main_title_1 {
    grid-column: 1;
  }

  .section_why-so-hard-to-conc {
    margin-block-end: 0px;
  }

  .subtitle_why-so-hard-to-conc {
    margin-block-end: 10px;
    grid-column: 2 / 3;
  }

  .content_article_why-so-hard-to-conc {
    grid-column: 2 / 3;
  }

  .title_what-reduces-conc {
    margin-block-end: 20px;
  }
  .section_what-reduces-conc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subtitle_what-reduces-conc {
    margin-block-end: 10px;
    margin-right: 20px;
    grid-column: 2 / 3;
  }

  .title_multitasking {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .article_multitasking {
    margin-right: 20px;
    margin-bottom: 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .title_food {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .article_food {
    margin-right: 20px;
    margin-bottom: 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .title_gadgets {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .article_gadgets {
    margin-bottom: 0;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .section_how-to-conc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }

  .title_how-to-conc {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .title_5_advises {
    margin-block-end: 20px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .subtitle_how-to-conc {
    margin-block-end: 10px;
    grid-column: 2 / 4;
  }

  .section_gallery {
    padding: 80px 20px 60px 20px;
  }
  .title_gallery {
    margin-block-end: 20px;
  }
}
