.page {
  background-image: var(--theme-path);
  background-color: var(--back-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  margin-block-start: 20%;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  margin-right: 10px;
  font-family: var(--main-font);
  font-size: 18px;
  padding: 0 13px;
  padding-bottom: 4px;
  height: 26px;
  line-height: 18px;
  background-color: transparent;
  color: var(--theme-switch-color);
  border: 1px solid transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
  border: 0;
  outline: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-switch-color);
  pointer-events: none;
}

.header__title {
  grid-row: 2;
  align-self: center;
  justify-self: start;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: var(--font-size-low-res);
  line-height: 82.5%;
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  margin: 0% 3% 0 3%;
}

.header__text {
  grid-row: 3;
  align-self: center;
  justify-self: end;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--header-text-color);
  background-color: var(--accent-color);
  margin: 0 3% 2% 3%;
}

.rec-element {
  font-family: var(--main-font);
  position: absolute;
  z-index: 1;
  font-size: 18px;
  line-height: 25px;
  color: var(--decorated-color);
  top: 0;
  right: 0;
  margin-top: 10px;
}

.rec-element::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decorated-color);
  margin-left: 10px;
  margin-right: 19px;
  box-shadow: 0 0 4px 2px var(--decorated-color);
}

.decorated_zone {
  max-width: 100%;
  position: relative;
}

.decorated_zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
  background-color: transparent;
  z-index: 1;
}

.decorated_zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
  background-color: transparent;
  z-index: 1;
  margin-bottom: 10px;
  margin-left: 10px;
}

.title-decor {
  background-color: inherit;
}

.main_section {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  gap: 50px;
  padding: 40px 10px 0 10px;
}

.section_card {
  display: grid;
  gap: 10px;
}

.section_title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.article_title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--section-subtitle-color);
}

.content_article {
  max-width: 100%;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--article-text-color);
  text-align: left;
}

.article_subtitle {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--section-subtitle-color);
}

.article_link {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.article_link:hover {
  border-bottom: 1px solid var(--article-text-color);
}

.article_link:focus {
  outline: 1px solid var(--article-text-color);
}

.section_why-so-hard-to-conc {
  display: grid;
  gap: 20px;
}

.section_what-reduces-conc {
  display: grid;
  gap: 20px;
}

.section_how-to-conc {
  display: grid;
  gap: 20px;
}

.section_how-to-conc .content_article {
  margin-block-end: 10px;
}

.section_how-to-conc .content_article:last-child {
  margin-block-end: 0px;
}

.section_gallery {
  max-width: 100%;
  padding: 50px 10px 40px 10px;
}

.title_gallery {
  margin-block-end: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  min-height: 668px;
  padding: 0px 13px 0 14px;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: var(--font-size-low-res);
  line-height: 82.5%;
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
}

@media (min-width: 668px) {
  .rec-element {
    margin-top: 20px;
  }

  .rec-element::after {
    margin-left: 10px;
    margin-right: 29px;
  }

  .decorated_zone::before {
    margin-top: 20px;
    margin-right: 20px;
  }

  .decorated_zone::after {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .header__theme-menu-button {
    margin-right: 20px;
  }

  .header__theme-menu {
    margin-top: 25%;
  }

  .header__title {
    margin: 0;
    font-size: var(--font-size-high-res);
  }

  .header__text {
    width: 364px;
    margin: 0 20px 3% 0;
  }

  .main_section {
    margin: 0;
    padding: 60px 20px 0 20px;
    gap: 80px;
  }

  .section_why-so-hard-to-conc {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_why-so-hard-to-conc .section_title {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .section_why-so-hard-to-conc .section_card {
    grid-column: 2;
  }

  .section_what-reduces-conc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .section_what-reduces-conc .section_title {
    grid-column: 1;
    grid-row: 1;
  }

  .section_what-reduces-conc .section_card {
    grid-column: 1 / -1;
  }

  .section_how-to-conc {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_how-to-conc .section_title {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .section_how-to-conc .article_title {
    grid-column: 2;
    grid-row: 1;
  }

  .section_how-to-conc .section_card {
    grid-column: 2;
  }

  .section_gallery {
    padding: 80px 20px 60px 20px;
  }
  .title_gallery {
    margin-block-end: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }

  .gallery_item {
    object-fit: cover;
  }

  .g_item_sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .g_item_icecream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .g_item_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .g_item_books {
    grid-column: 2;
    grid-row: 2;
  }

  .g_item_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer__title {
    font-size: var(--font-size-high-res);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu {
    margin-top: 20px;
    width: 230px;
    justify-self: center;
  }

  .header__theme-menu-button {
    margin: 0;
  }

  .header__text {
    width: 491px;
    margin: 0 20px 2% 0;
  }

  .section_why-so-hard-to-conc {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
    column-gap: 10px;
  }

  .section_what-reduces-conc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section_what-reduces-conc .section_title {
    grid-column: 1 / -1;
    width: calc(100% / 3 - 20px);
  }

  .section_what-reduces-conc .section_card {
    grid-column: auto;
    align-content: start;
  }

  .section_how-to-conc {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
    column-gap: 10px;
  }

  .section_gallery {
    padding: 80px 20px 60px 20px;
  }
  .title_gallery {
    margin-block-end: 20px;
  }
}
