:root {
  --theme-path: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --back-color: #000028;
  --focus-color: #db00ff;
  --section-title-color: #ff0070;
  --section-subtitle-color: #000028;
  --theme-switch-color: #ff0070;
  --header-text-color: #000028;
  --article-text-color: #f1b2ce;
  --decorated-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --main-font: "IBM Plex Mono", monospace;
  --font-size-low-res: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-high-res: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
